@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(250, 90%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-align: center;
}

.App {
  min-width: 80vw;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin-top: 5vh;
}
.App .result {
  text-align: center;
}

h2{
margin-top: 5vh;
}

button {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  border-radius: 30px;
  border: 0;
  padding: 15px 30px;
  font-size: 16px;
  background-color: #f00067;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.App .result h2 {
  margin-bottom: 0;
}
.App .result img {
  width: 150px;
}
.App .progress {
  margin-top: 2vh;
  height: 5vh;
  background-color: rgb(232, 232, 232);
  margin-bottom: 25px;
}
.App .progress__inner {
  height: 100%;
  width: 80%;
  background: rgb(18, 231, 48);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, rgb(18, 231, 48) 0%, rgb(0, 212, 255) 100%);
}

.App h1 {
  text-align: center;
  font-size: 12px;
  margin: 0;
}
.App ul {
  list-style: none;
  padding: 5px;
  margin: 10px;
}
.App ul li {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.App ul li:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.resultImage{
max-width: 40vw;
max-height: 40vh;
}



@media(min-width: 800px){
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(250, 90%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
}

.App {
  margin-top: 5vh;
  min-width: 80vw;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.App .result {
  text-align: center;
}

h2{
margin-top: 5vh;
}

button {
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  border-radius: 30px;
  border: 0;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #f00067;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
  
.App .result h2 {
  margin-bottom: 0;
}
.App .result img {
  width: 150px;
}
.App .progress {
  margin-top: 2vh;
  height: 5vh;
  background-color: rgb(232, 232, 232);
  margin-bottom: 25px;
}
.App .progress__inner {
  height: 100%;
  width: 80%;
  background: rgb(18, 231, 48);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, rgb(18, 231, 48) 0%, rgb(0, 212, 255) 100%);
}

.App h1 {
  text-align: center;
  font-size: 16px;
  margin: 0;
}
.App ul {
  list-style: none;
  padding: 5px;
  margin: 10px;
}
.App ul li {
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.App ul li:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
  
.resultImage{
max-width: 40vw;
max-height: 40vh;
}
  
}

/*# sourceMappingURL=index.css.map */
